<div class="hero-unit">
  <h1>konvo</h1>
  <p>Never forget what you were going to talk about</p>
  <p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
  </p>
</div>

<% User.all.each do |user| %>
  <%= user.name %><br/>
<% end %>
